@import '../../scss/variables';

.node {
  border-left: none;
  border-right: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  &:first-child {
    border-radius: 0;
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
    border-radius: 0;
  }
}

.nodeItem {
  align-items: flex-start;
  // Set up a common border that can be colored in different ways
  // according to the file status.
  border-left: 10px solid transparent;
  display: flex;
  line-height: 1;
  padding: 0.6rem 1.25rem 0.4rem 1.25rem;
  width: 100%;
}

.nodeName,
.nodeIcons {
  margin-left: 0.5rem;
  width: 100%;
}

.nodeName {
  overflow: hidden;
  // This accounts for low hanging glyphs such as `g` in a way that
  // does not disrupt the icon alignment (as opposed to using line-height)
  padding-bottom: 0.2rem;
  text-overflow: ellipsis;
  white-space: wrap;
}

.nodeIcons {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  :not(:first-child) {
    margin-left: 0.5rem;
  }
}

.folderAndFileIcons {
  flex-shrink: 0;
  // This is intended to be wider than the widest icon to prevent the UI from jumping.
  width: 1.125em;
}

.selected {
  background-color: $light-gray;
}

.hasLinterMessages {
  font-weight: 500;

  &.hasLinterErrors {
    color: $red;
  }

  &.hasLinterWarnings {
    color: $orange;
  }
}

.isKnownLibrary {
  color: lighten($black, 50);
}

.wasDeleted {
  border-left-color: darken($diff-gutter-delete-color, 10);
}

.wasModified,
.wasAdded {
  border-left-color: darken($diff-gutter-insert-color, 10);
}
