@import '../../scss/variables';
@import '../../scss/mixins';

.Image {
  @include border-style();
  margin-bottom: $default-padding;
  padding: $default-padding;
}

.responsive {
  max-width: 100%;
  height: auto;
}
