@import '../../scss/variables';

// We add `.diff` to override the react-diff-view default style.
.diff.diff {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-collapse: separate;
  border-color: $light-gray;
  border-spacing: 0;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  margin-bottom: 20px;
}

.header {
  background-color: lighten($light-gray, 2);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border: 1px solid $light-gray;
  padding: $default-padding;
}

.stats {
  font-size: 0.8em;
  font-weight: 600;
}

.statsAdditions {
  color: $text-green;
}

.statsDeletions {
  color: $text-red;
  margin-left: $default-padding;
}

.hunkSeparator {
  color: darken($light-gray, 20);
  display: block;
  height: 24px;
  line-height: 1;
  text-align: center;
}
