.controlButtons {
  background-image: linear-gradient(#fff 90%, rgba(255, 255, 255, 0));
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
