@import '../../scss/variables';
@import '../../scss/mixins';

.shell {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.treeShell {
  @include border-style();

  overflow: auto;
}

.controlButtons {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  width: 100%;
}

.button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
