@import '../../scss/variables';

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item {
  margin-top: $default-padding;

  &:first-child {
    margin-top: 0;
  }
}

.itemButton {
  transition: transform 0.5s ease-out;
  &:active {
    transform: translateY(4px);
  }
}

.itemContent {
  flex: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  transition: flex, margin 0.3s ease;
}

.itemExpanded {
  flex: 1;
  margin-top: $default-padding;
  min-height: 3rem;
}
