{
  "extends": [
    "amo",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // TS configuration for the `indent` rule.
    // https://github.com/typescript-eslint/typescript-eslint/blob/5b0b3d9edbcb3ab588a34c431037d9deece30824/packages/eslint-plugin/docs/rules/indent.md#options
    "@typescript-eslint/indent": ["error", 2],
    "import/no-extraneous-dependencies": ["error", {
        "devDependencies": ["**/*.spec.*"]
      }
    ],
    // We use `.tsx` instead of `.jsx` for files with JSX inside.
    "react/jsx-filename-extension": ["error", {
        "extensions": [".tsx"]
      }
    ],
    // We decided to prefer types over interfaces.
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    // This rule conflicts with our convention.
    "jest/valid-describe": "off",
    // These rules are not compatible with Prettier.
    "implicit-arrow-linebreak": "off",
    "no-mixed-operators": "off",
    "operator-linebreak": "off",
    "react/jsx-one-expression-per-line": "off",
    // Report an error when a variable is not used.
    "@typescript-eslint/no-unused-vars": "error",
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  }
}
