# exclude everything by default
*.*
# exclude these files
Dockerfile
# exclude these directories
/bin/
/build/
/dist/
/docker/
/node_modules/
# Allow files we want to process
!*.js
!*.ts
!*.tsx
!*.md
!*.scss
