@import '../../scss/variables';
@import '../../scss/mixins';

.SidePanel {
  display: grid;
  grid-gap: $default-padding;
  grid-template-rows: 1fr auto;
  height: auto;
  padding: 0;
}

// Prefixing this selector with `button` fixes some subtle specificity
// issues that are not apparent in all layouts.
button.ToggleButton {
  height: auto;
  overflow: hidden;
  padding: $default-padding;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  &:not(:global(.focus-visible)) {
    box-shadow: none;
  }
}

.content {
  @include border-style();

  height: 100%;
  overflow-x: auto;
}

.borderlessContent {
  border: none;
}

.isCollapsed {
  grid-gap: 0;
  padding: 0;

  .ToggleButton {
    height: 100%;
    padding: 0;
  }

  .content {
    display: none;
  }
}
