@import '../../scss/variables';

.SidePanel {
  display: grid;
  grid-gap: $default-padding;
  grid-template-rows: 1fr auto;
  height: auto;
  padding: 0;
}

.ToggleButton {
  height: auto;
  overflow: hidden;
  padding: $default-padding;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  &:not(:global(.focus-visible)) {
    box-shadow: none;
  }
}

.content {
  border-radius: $border-radius;
  border: 1px solid $light-gray;
  height: 100%;
  overflow-x: auto;
}

.borderlessContent {
  border: none;
}

.isCollapsed {
  grid-gap: 0;
  padding: 0;

  .ToggleButton {
    height: 100%;
    padding: 0;
  }

  .content {
    display: none;
  }
}
