@import '../../scss/variables';
@import '../../scss/mixins';

.button {
  background-color: $light-gray;
  text-align: center;
  overflow: hidden;
  padding: $default-padding;
  width: 100%;

  // The .btn-primary overrides are to win a specificity dance off
  // against react-bootstrap. \o\_// /o/_|/

  &,
  &:active,
  &:global(.btn-primary:not(:disabled):not(.disabled):active),
  &:hover {
    color: $black;
    @include border-style();
  }

  &:active,
  &:global(.btn-primary:not(:disabled):not(.disabled):active),
  &:hover {
    background-color: darken($light-gray, 3);
  }

  &:focus,
  &:global(.btn-primary:not(:disabled):not(.disabled):focus) {
    // See: https://github.com/WICG/focus-visible
    &:not(:global(.focus-visible)) {
      box-shadow: none;
    }
  }
}
