@import '../../src/scss/variables';
@import '../../src/scss/mixins';

body {
  padding: 24px;
}

// The rootAttribute option (via storybook-addon-root-attribute)
// toggles this on and off.
body.fullscreen {
  padding: 0;
}

.CodeLineShapesStory {
  display: flex;
}

.CodeLineShapesStory-panel {
  border: 1px solid;
  padding: 10px;

  &:first-child {
    margin-right: 10px;
  }
}

.CodeLineShapesStory-lineShape {
  display: flex;
  width: 100%;
}

.CodeLineShapesStory-actualCode,
.CodeLineShapesStory-lineShape {
  height: 1rem;
  line-height: 1;
  margin-top: 2px;

  &:first-child {
    margin-top: 0;
  }
}

.CodeLineShapesStory-actualCode {
  overflow: hidden;

  pre {
    margin: 0;
    overflow: hidden;
  }
}

.DiffViewStory-panel,
.FadableContent-shell,
.FileTreeNodeStory-shell,
.FullscreenGridStory-topContent {
  @include border-style();
}

.FadableContent-shell {
  padding: $default-padding;
}

.FullscreenGridStory-Header,
.FullscreenGridStory-mainSidePanel,
.FullscreenGridStory-content,
.FullscreenGridStory-altSidePanel {
  align-items: center;
  display: flex;
}

.FullscreenGridStory-placeholder {
  display: flex;
  justify-content: center;
  width: 100%;
}

.FullscreenGridStory-Header {
  background-color: lighten(red, 43);
  padding: 20px;
}

.FullscreenGridStory-content {
  background-color: lighten(yellow, 47);
}

.FullscreenGridStory-topContent {
  background-color: lighten(yellow, 47);
  padding: $default-padding;
}

.AccordionMenuStory-ContentShell {
  align-items: center;
  display: flex;
  justify-content: center;
}

.CommentableStory-row {
  align-items: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: min-content auto;
}

.FileTreeStory-smallWidth {
  width: 200px;
}

.FileTreeStory-halfWidth {
  width: 50%;
}

.CommentListStory p {
  margin: 0;
  padding: 0 $default-padding;
}

.PopoverButton-content {
  padding: 10px;
}
