@import '../../scss/variables';
@import '../../scss/mixins';

.FileMetadata {
  @include border-style();
  padding: $default-padding;
}

// See: https://github.com/mozilla/addons-code-manager/issues/424
.sha256 {
  word-wrap: break-word;
}
