.arrow {
  margin: auto;
  padding-top: 14px;
}

.option {
  font-weight: 600;

  &:disabled {
    font-weight: 300;
  }
}

.simulatedFormControl {
  align-items: center;
  display: flex;

  .simulatedFormControlSkeleton {
    width: 60px;
  }
}
