@import '../../scss/variables';

.option {
  font-weight: 600;

  &:disabled {
    font-weight: 300;
  }
}

.simulatedFormControl {
  align-items: center;
  display: flex;

  .simulatedFormControlSkeleton {
    width: 60px;
  }
}

.formGroup {
  align-items: center;
  display: flex;
  margin: 0;
}

.label {
  margin: 0 $default-padding;
  white-space: nowrap;

  &:first-child {
    margin-left: 0;
  }
}
