@import '../../scss/variables';

.CodeView {
  border-radius: $border-radius;
  border: 1px solid $light-gray;
  margin-bottom: $default-padding;
  padding: $default-padding;
}

.table {
  display: block;
  width: 100%;
}

.tableBody {
  display: block;
  overflow: auto;
  width: 100%;
}

.lineNumber {
  padding-right: $default-padding;
  text-align: right;
  user-select: none;
}

.lineNumber,
.highlightedCode {
  font-family: $code-font-family;
  font-size: $code-font-size;
  line-height: $code-line-height;
}

.highlightedCode {
  margin: 0;
}
