@import '../../scss/variables';

.loginMessage,
.isLoading {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 500;
  justify-content: center;
  text-align: center;

  p {
    margin: 4px auto;
  }
}

.errors {
  padding: $default-padding;
  // Each error will have its own bottom margin.
  padding-bottom: 0;
}

.errorAlert {
  margin-bottom: $default-padding;

  &:last-child {
    margin-bottom: 0;
  }
}

.linterMessagesShell {
  padding: $default-padding;
  padding-bottom: 0;
}

.linterMessage:last-child {
  margin-bottom: 0;
}
