.container {
}

.content {
  min-height: 100vh;
  padding-top: 15px;
}

.loginMessage,
.isLoading {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 500;
  justify-content: center;
  text-align: center;

  p {
    margin: 4px auto;
  }
}
