@import '../scss/variables';

code[class*="language-"],
pre[class*="language-"] {
  line-height: $code-line-height;
}

pre[class='language-text'],
code[class='language-text'] {
  color: #073642; /* base02 */
}

pre[class='language-text']::selection,
pre[class='language-text'] ::selection,
code[class='language-text']::selection,
code[class='language-text'] ::selection {
  color: #eee8d5; /* base2 */
  background: #073642; /* base02 */
}
