@import '../../scss/variables.scss';

.container {
  padding: $default-padding;
  width: 100%;
}

.comment,
.form {
  background-color: $light-gray;
  border: 1px solid darken($light-gray, 10);
  padding: $default-padding;
}

.textarea {
  display: block;
  margin-bottom: $default-padding;
  padding: 2px 5px;
  width: 100%;
}

.commentBody {
  display: flex;
  width: 100%;
}

.commentControls {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}

.controlButton {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
