@import '../../scss/variables';

$bg-color: $dark-gray;

.Navbar {
  // This is controlling the background color so that we can invert the colors
  // for a comment count (below). This is equivalent to bg="dark" in Navbar.
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  padding: $default-padding;
  width: 100%;
}

.brand,
.text {
  margin: 0;
  padding: 0;
}

.info,
.text,
.Navbar {
  align-items: center;
  display: flex;
  font-size: 1rem;
}

.info {
  align-items: stretch;
  color: $white;
  display: flex;
}

.infoItem {
  align-items: center;
  display: flex;

  &:not(:first-child) {
    border-left: 1px solid darken($white, 70);
    padding-left: 10px;
    margin-left: 10px;
  }
}

.itemData {
  align-items: center;
  background-color: $white;
  border-radius: 2px;
  color: $bg-color;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  padding: 0 5px;
}

.commentCount {
  // Fix the width to minimize jumpiness.
  min-width: 20px;
}

@keyframes pulseBaseVersion {
  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.6;
  }
}

.baseVersionIsLoading {
  animation: pulseBaseVersion 1s infinite;
  transition: opacity ease-in-out;
}

.username {
  margin-right: $default-padding;
}

.reviewerToolsLink {
  &,
  &:active,
  &:hover {
    color: $white;
    text-decoration: underline;
  }
}

.reviewerToolsIcon {
  margin-right: 10px;
}

.legacyLink {
  margin-right: $default-padding;
  opacity: 0.5;
  &,
  &:active,
  &:hover {
    text-decoration: none;
  }
}
