@import '../../scss/variables';

.Navbar {
  display: flex;
  justify-content: space-between;
  padding: $default-padding;
  width: 100%;
}

.brand,
.text {
  margin: 0;
  padding: 0;
}

.brand a {
  color: #fff;
}

.brand a,
.text,
.Navbar {
  align-items: center;
  display: flex;
  flex-align: center;
  font-size: 1rem;
}

.username {
  margin-right: $default-padding;
}
