@import '../../scss/variables';

.CodeOverview {
  height: 100%;
  padding: 0;
  position: sticky;
  top: 0;
}

.line {
  display: flex;
  line-height: 1;
  width: 100%;
}

.linterMessage {
  border-radius: $border-radius;
  width: 100%;
}

.linterError {
  background-color: $red;
}

.linterNotice {
  background-color: darken($alert-secondary-bg-color, 40);
}

.linterWarning {
  background-color: $orange;
}
