@import '../../scss/variables';
@import '../../scss/mixins';

.KeyboardShortcuts {
  @include border-style();

  padding: $default-padding;
}

.definitions {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;

  dd {
    line-height: 1.6;
    margin-bottom: 0;
  }
}

.disabled {
  color: $gray;

  kbd {
    background-color: $light-gray;
  }
}
