@import '../../scss/variables';

.KeyboardShortcuts {
  border-radius: $border-radius;
  border: 1px solid $light-gray;
  padding: $default-padding;
}

.definitions {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;

  dd {
    margin-bottom: 0;
  }
}

.disabled {
  color: $gray;

  kbd {
    background-color: $light-gray;
  }
}
