@import '../../scss/variables';
@import '../../scss/mixins';

.diffShell {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.diffContent {
  @include border-style();

  overflow: auto;
}
