@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$border-radius: 0.25rem;
$default-padding: 10px;
$light-gray: $gray-200;
$dark-gray: $gray-800;
$gray: $gray-500;
$white: #fff;

// This is the final color of secondary alerts after bootstrap
// runs $gray-600 through its custom filters.
$alert-secondary-bg-color: #e2e3e5;

// Shared style for the CodeView and DiffView components.
$code-font-family: Consolas, Courier, monospace;
$code-font-size: 1rem;
$code-line-height: 1.3;

// These colors were copied from react-diff-view:
// https://github.com/otakustay/react-diff-view/blob/0f0bbc77b7a3039d5a49303969c04f01122059c6/src/Hunk/Change.css
// If they ever go out of sync, we'll have to define all of our
// own colors explicitly and override the react-diff-view styles.
$diff-gutter-delete-color: #fadde0;
$diff-gutter-insert-color: #d6fedb;
