@import '../../scss/variables';

.VersionChooser {
  display: grid;
  grid-gap: $default-padding;
  grid-template-columns: auto;
  padding: $default-padding;
}

.popover {
  min-width: 200px;
}

.submitButton {
  margin-top: $default-padding;
}

.formRow {
  align-items: flex-end;
  display: flex;

  > :not(:first-child) {
    margin-left: $default-padding;
  }
}

.versionSelect {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.versionSelectControl {
  margin-top: $default-padding / 2;
}
