@import '../../scss/variables';

$expand-button-width: 40px;

.FullscreenGrid {
  display: grid;
  grid-template-areas:
    'FGHeader FGHeader FGHeader'
    'FGTop FGTop FGTop'
    'FGMainSidePanel FGContent FGAltSidePanel'
    '. . .';
  grid-template-columns: 2fr 5fr 1fr;
  grid-template-rows: min-content min-content 1fr 0px;
  height: 100vh;

  &.withMainSidePanelCollapsed {
    grid-template-columns: $expand-button-width 7fr 1fr;
  }

  &.withAltSidePanelCollapsed {
    grid-template-columns: 2fr 6fr $expand-button-width;
  }

  &.withBothSidePanelsCollapsed {
    grid-template-columns: $expand-button-width 7fr $expand-button-width;
  }
}

.Header,
.topContent,
.content,
.mainSidePanel,
.altSidePanel {
  // Simulate a grid-gap.
  margin-bottom: $default-padding;
}

.Header {
  grid-area: FGHeader;
}

.topContent {
  grid-area: FGTop;
  padding: 0 $default-padding;
}

.mainSidePanel {
  grid-area: FGMainSidePanel;
}

.altSidePanel {
  grid-area: FGAltSidePanel;
}

.mainSidePanel,
.altSidePanel {
  margin-left: $default-padding;
  margin-right: $default-padding;
}

.content {
  grid-area: FGContent;
}

.mainSidePanel,
.altSidePanel,
.content {
  border-radius: $border-radius;
  border: 1px solid $light-gray;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  padding: $default-padding;
}
