@import '../../scss/variables';

$expand-button-width: 40px;

.FullscreenGrid {
  display: grid;
  grid-gap: $default-padding;
  grid-template-areas:
    'FGHeader FGHeader FGHeader'
    'FGMainSidePanel FGContent FGAltSidePanel'
    '. . .';
  grid-template-columns: 2fr 5fr 1fr;
  grid-template-rows: min-content 1fr 0px;
  height: 100vh;

  &.withMainSidePanelCollapsed {
    grid-template-columns: $expand-button-width 7fr 1fr;
  }

  &.withAltSidePanelCollapsed {
    grid-template-columns: 2fr 6fr $expand-button-width;
  }

  &.withBothSidePanelsCollapsed {
    grid-template-columns: $expand-button-width 7fr $expand-button-width;
  }
}

.Header {
  grid-area: FGHeader;
}

.mainSidePanel {
  display: grid;
  flex-direction: column;
  grid-area: FGMainSidePanel;
  grid-gap: $default-padding;
  grid-template-rows: 1fr auto;
  height: auto;
  margin-left: $default-padding;

  .mainSidePanelToggleButton {
    height: auto;
    padding: $default-padding;
    width: 100%;

    &:not(:global(.focus-visible)) {
      box-shadow: none;
    }
  }

  &.mainSidePanelIsCollapsed {
    background-color: $light-gray;
    grid-gap: 0;
    padding: 0;

    .mainSidePanelToggleButton {
      height: 100%;
      padding: 0;
    }
  }
}

.altSidePanel {
  display: grid;
  flex-direction: column;
  grid-area: FGAltSidePanel;
  grid-gap: $default-padding;
  grid-template-rows: 1fr auto;
  height: auto;
  margin-right: $default-padding;

  .altSidePanelToggleButton {
    height: auto;
    padding: $default-padding;
    width: 100%;

    &:not(:global(.focus-visible)) {
      box-shadow: none;
    }
  }

  &.altSidePanelIsCollapsed {
    background-color: $light-gray;
    grid-gap: 0;
    padding: 0;

    .altSidePanelToggleButton {
      height: 100%;
      padding: 0;
    }
  }
}

.content {
  grid-area: FGContent;
}

.mainSidePanel,
.altSidePanel,
.content {
  border-radius: $border-radius;
  border: 1px solid $light-gray;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $default-padding;
}

.mainSidePanelContent {
  overflow-x: auto;

  .mainSidePanelIsCollapsed & {
    display: none;
  }
}

.altSidePanelContent {
  overflow-x: auto;

  .altSidePanelIsCollapsed & {
    display: none;
  }
}
